<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:c="http://www.springframework.org/schema/c"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd">
  

	<bean id="school" class="org.q10viking.di04.School" 
		c:name="CAU"/>

	 <bean id="student" class="org.q10viking.di04.Student" 
	     c:name="Q10Viking" c:age="23" c:school-ref="school"/>

</beans>