<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd">
  
  <!-- 注册SomeService 
  	相当于底层做了：
  	 		ISomeService myService = new SomeServiceImp();
  -->
  <bean id="myService" class="org.q10viking.service.SomeServiceImp"/>
  
</beans>