<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd">
  

	<!-- 注册目标类 -->
	<bean id="studentServiceTarget" class="org.q10viking.aop01.UserServiceImp" />
	<!-- 注册切面，前置通知类  -->
	<bean id="myMethodBeforeAdvice" class="org.q10viking.aop01.MyMethodBeforeAdvice" />
	
	<!-- 注册切面顾问 -->
	<bean id="myAdvisor" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
		<!-- 顾问包装了通知 -->
		<property name="advice" ref="myMethodBeforeAdvice" />
		<!-- 指定切入点 -->
		<!-- <property name="mappedNames" value="doFirst,doThird"/> -->
		<!-- 使用通配符 -->
		<property name="mappedNames" value="*ir*"/>
	</bean>
	
	<!-- 配置代理 -->
	<bean id="studentServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="studentServiceTarget"/>
		<property name="interceptorNames" value="myAdvisor" />
	</bean>
</beans>